.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  border-radius: 2px;
}

.modal p {
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.modal img {
  width: 100%;
  max-height: 1000px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}